<header th:replace="header"></header>
<div class="container">
    <h2 th:if="${isEmpty}" class="msg">Задача не существует!</h2>
    <table th:if="${!isEmpty}">
        <tr>
            <th width="1">№</th>
            <th width="20%">Название задания</th>
            <th width="20%">Описание</th>
            <th width="15%">Дата создания</th>
            <th width="15%">Статус</th>
            <th width="15%">Приоритет</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:object="${task}">
            <td>1.</td>
            <td th:text="${task.name}"></td>
            <td>
                <p th:each="t : ${task.description.split('\r\n')}" class="desc">
                    <span th:text="${t} + ';'"></span>
                </p>
            </td>
            <td th:text="${#temporals.format(task.created, 'dd.MM.yyyy')}">25 февраля 2023</td>
            <td>
                <span th:if="${task.done}">Выполнено</span>
                <span th:unless="${task.done}">Не выполнено</span>
            </td>
            <td th:text="${task.priority.name}"></td>
            <td class="act"><a th:if="${!task.done}" th:href="@{|/tasks/complete/${task.id}|}"><i class="fa fa-list" aria-hidden="true"></i>
            </a></td>
            <td class="act"><a th:href="@{|/tasks/edit/${task.id}|}"><i class="fa fa-pencil" aria-hidden="true"></i>
            </a></td>
            <td class="act"><a th:href="@{|/tasks/delete/${task.id}|}"><i class="fa fa-trash-o" aria-hidden="true"></i>
            </a></td>
        </tr>
    </table>
</div>
<footer th:replace="footer"></footer>
