<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:fragment="header">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <!-- ADD STYLE-->
    <title>Dream Job!</title>
</head>
<body>
<header id="header">
    <div class="container">
        <div class="nav">
            <div class="topLine">
                <a th:href="@{/}">TODO List</a>
            </div>
            <div class="login navbar-nav">
                <div class="authorisation">
                    <div class="login" th:if="${user.name == 'Гость'}">
                        <span th:text="${user.name}"></span><span>|</span>
                        <a class="nav-item nav-link" th:href="@{/user/loginPage}">
                            <span>Войти</span>
                            <span>/</span>
                        </a>
                        <a class="nav-item nav-link" th:href="@{/user/create}"><span>Регистрация</span></a>
                    </div>
                    <div class="logout" th:if="${user.name != 'Гость'}">
                        <span th:text="${session.user.name}"></span>
                        <a class="nav-item nav-link" th:href="@{/user/logout}">
                            <span> | Выйти</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div th:if="${user.name != 'Гость'}" class="container">
    <div class="links">
        <a th:href="@{/tasks/all}">
            <div id="all" th:class="${isAll}">Все</div>
        </a>
        <a th:href="@{/tasks/completed}">
            <div id="completed" th:class="${isCompleted}">Выполненные</div>
        </a>
        <a th:href="@{/tasks/new}">
            <div id="new" th:class="${isNew}">Новые</div>
        </a>
        <a th:href="@{/tasks/create}">
            <div id="add_task" th:class="${isCreatedTask}">
                Добавить задание
            </div>
        </a>
    </div>
</div>
